<div style="height: 100vh; display: flex; align-items: center; justify-content: center">
    <a href="https://www.behance.net/yukilauyh">
        <img
            style="max-height: 100vh; max-width: 100vw"
            alt="porkbrain logo; image of a pig with exposed brain being looked at through a magnifying glass by a person"
            src="<%= Routes.static_path(@conn, "/images/porkbrain_1600x1600.jpeg") %>"
        >
    </a>
</div>
