/**
 * Minimalistic layout inside a responsive container.
 */

.main {
  margin: auto;
  width: 100%;
}

.footer {
  margin-top: 32px;
}

@media only screen and (min-width: 1024px) {
  .main {
    width: 960px;
  }
}

@media only screen and (min-width: 1407px) {
  .main {
    width: 1344px;
  }
}
