
.title {
  font-size: 2.25rem;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: -10px;
}

.title.is-large {
  font-size: 3rem;
}

.title.is-small {
  font-size: 1.75rem;
}

.title.is-large ~ .subtitle {
  font-size: 1.75rem;
}

.title.is-small ~ .subtitle {
  font-size: 1.25rem;
}
