<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            rel="shortcut icon"
            type="image/gif"
            href="<%= Routes.static_path(@conn, "/favicon.gif") %>"
        >
        <meta
            name="description"
            content="
                The homepage is a vanilla flavoured list which curates mostly
                technology and mathematics related content often found on Hacker
                News. One can find here quotes, comments, articles, videos and
                opinions.
            "
        >
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= assigns[:page_title] || "TODO" %></title>
        <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
        <%= csrf_meta_tag() %>
    </head>
    <body>
        <header>
            TODO
        </header>
        <main class="main">
            <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
            <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
            <%= render @view_module, @view_template, assigns %>
        </main>

        <footer class="footer">
            <p class="signature">
                Curated by
                <%# TODO: Change github link to var. %>
                <a target="_blank" href="https://github.com/bausano">
                    Michael Bausano
                </a>
            </p>
        </footer>

        <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>
